[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
nifcloud-cli = {editable = true, path = "."}

[dev-packages]
isort = "*"
"flake8" = "*"
cx-freeze = "==6.15.0"
sphinx = {version = "==5.3.0", sys_platform = "!= 'win32'"}
sphinx-rtd-theme = {version = "*", sys_platform = "!= 'win32'"}
pytest = "*"
pytest-cov = "*"

[scripts]
isort = "isort"
lint = "flake8"
