[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
nifcloud-cli = {editable = true,path = "."}

[dev-packages]
isort = "*"
"flake8" = "*"

[scripts]
isort = "isort"
lint = "flake8"
